<div class="row">
    <table class="table">
        <tr>
            <th style="width: 30%;">UserName</th>
            <th style="width: 40%;">ActiveRole</th>
            <th style="width: 30%;"></th>
        </tr>
        <tr *ngFor="let user of users" style="height: 35px;">
            <td>{{user.userName}}</td>
            <td>{{user.roles}}</td>
            <td>
                <button type="button" class="btn-outline-info" (click)="openRolesModal(user)">Edit Roles</button>
            </td>
        </tr>
    </table>
</div>