<nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-primary">
    <div class="container">
      <a class="navbar-brand" routerLink='/'>Dating app</a>
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <ng-container  *ngIf="accountService.currentUser$ | async"><!--it doesn't generate any html in the browser when we inspect HTML (source of security to remove links)-->
            <li class="nav-item">
              <a class="nav-link" routerLink='/members' routerLinkActive='active'>Matches</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink='/lists' routerLinkActive='active'>Lists</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " routerLink='/messages' routerLinkActive='active'>Messages</a>
            </li>
          </ng-container>
          <li class="nav-item">
            <a class="nav-link " routerLink='/errors' routerLinkActive='active'>Errors</a>
          </li>
        </ul>
        <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
          <img src="{{user.photoUrl || './assets/user.png'}}" alt="{{user.userName}}">
          <a class="dropdown-toggle text-light ml-2" dropdownToggle>Welcome {{user.userName | titlecase}}</a>
          <div class="dropdown-menu mt-3" *dropdownMenu>
            <a class="dropdown-item" routerLink='member/edit'>Edit profile</a>
            <div class="divider dropdown-divider"></div>
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </div>
        </div>
        <form  #loginForm="ngForm" class="d-flex" style=" margin-left: auto;" (ngSubmit)="login()" autocomplete="off" *ngIf="(accountService.currentUser$ | async) === null">
          <div class="row">
            <div class="col">
              <input
                name="userName"
                [(ngModel)]="model.userName" 
                type="text"
                class="form-control me-2"
                placeholder="Username">
            </div>
            <div class="col">
              <input
              name="password"
              [(ngModel)]="model.password"
               type="password"
               class="form-control me-2"
               placeholder="Password">
            </div>
            <div class="col">
             <button class="btn btn-outline-success" type="submit">Login</button>
            </div>
          </div>
        </form>
    </div>
  </nav>